/* Andy Bell CSS Reset https://andy-bell.co.uk/a-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ========================= Custom Styles ========================= */

/* ======= Variables ======= */

:root,
[data-theme="light"] {
  --primary: #697c9a;
  --secondary: #4b6a9b;
  --secondary-hover: #2b3442;
  --header: #2b3442;
  --background-body: #f6f8ff;
  --background-section: #fefefe;
  --section-shadow: hsla(227, 46%, 50%, 19.86%);

  --btn-blue: hsl(212, 100%, 50%);
  --btn-active-blue: hsl(212, 100%, 69%);
  --btn-text: #ffffff;
  --chiocciola-text-blue: hsl(212, 100%, 50%);
  --error-text: hsl(0, 92%, 62%);
  --drk-active-text-blue: hsl(222, 44%, 70%);
}

[data-theme="dark"] {
  --primary: #ffffff;
  --secondary: #ffffff;
  --secondary-hover: #90a4d4;
  --header: #ffffff;
  --background-body: #141d2f;
  --background-section: #1e2a47;
  --section-shadow: #141d2f;
}

/* ========================= Base Styles ========================= */

body {
  background-color: var(--background-body);
  color: var(--primary);
  font-family: "Space Mono", monospace;
  display: grid;
  place-content: center;
}

/* ============ Header ============  */

header {
  background-color: var(--background-body);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comapny-name-header {
  color: var(--header);
  font-size: 1.625rem;
  margin: 1rem 0 1rem 1.5rem;
}

.theme-switch {
  border: none;
  display: grid;
  color: var(--secondary);
  fill: var(--secondary);
}

.theme-switch:hover {
  color: var(--secondary-hover);
  fill: var(--secondary-hover);
}
.label-group {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.label-group > label {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.label-group > input {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.label-group > input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
}

.light-mode-option,
.dark-mode-option {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 0.8125rem;
  letter-spacing: 2.25px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--background-body);
  border: none;
}

.mode-wrapper {
  margin-right: 1.5rem;
}
.mode-icon {
  margin: 1rem 0.5rem;
}

/* ============ Search Bar ============ */

.section-background {
  background-color: var(--background-section);
  box-shadow: 0px 13px 16px -10px var(--section-shadow);
}

.search-icon {
  object-fit: contain;
  margin: 1rem 0 1rem 0.5rem;
}
.search-container {
  display: flex;
  align-items: center;
  margin: 1rem 1.5rem;
  border-radius: 15px;
  position: relative;
}

.search {
  background-color: var(--background-section);
  color: var(--primary);
  border: none;
  flex-grow: 2;
  margin: 0.5rem;
}

.search::placeholder {
  font-size: 0.8125rem;
  color: var(--primary);
}

.btn-search {
  background-color: var(--btn-blue);
  color: var(--btn-text);
  border: none;
  border-radius: 10px;
  margin: 0.5rem;
  width: 5.25rem;
  padding: 0.5rem 0;
  position: absolute;
  /* right: -1%; */
  left: 70%;
}

.btn-search:hover {
  background-color: var(--btn-active-blue);
}

/* ============ User Profile ============ */

h2 {
  color: var(--header);
  font-size: 1rem;
}

h3 {
  font-size: 1rem;
  color: var(--chiocciola-text-blue);
  font-weight: normal;
}
h4 {
  font-size: 0.9375rem;
  font-weight: normal;
  color: var(--primary);
}

.user-info-container {
  border-radius: 15px;
  display: flex;
  flex-flow: column wrap;
  margin: 1.25rem 1.5rem;
}

.user-profile {
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.user-avatar {
  width: 25%;
  margin-left: 0.5rem;
}

.user-profile > h2,
h3,
h4 {
  margin: 0.5rem 0;
}

.user-bio {
  margin: 0.5rem 1rem;
  font-size: 0.8125rem;
  color: var(--secondary);
  line-height: 1.92;
}

/* ============ User stats ============ */
.user-stats {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--background-body);
  border-radius: 15px;
  color: var(--secondary);
  font-size: 0.6875rem;
  margin: 1rem;
  padding: 1rem;
}

.number {
  color: var(--header);
  font-size: 1rem;
  font-weight: bold;
}

.stats-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.stats-container > p {
  margin: 0.5rem 1rem;
}

.user-links {
  font-size: 0.8125rem;
  margin-bottom: 2rem;
}

.user-links a:hover {
  text-decoration: underline;
}

.location,
.twitter,
.website,
.org {
  margin: 0.5rem;
  color: var(--secondary);
  text-decoration: none;
}

.space-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 1rem;
}

.hide {
  display: none;
}

/* ============ Footer ============ */

footer {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  font-size: 0.875rem;
  background-color: var(--background-body);
}
.attribution {
  max-width: 17rem;
}

.attribution a {
  color: var(--chiocciola-text-blue);
}
/* ========================= Media Queries ========================= */

/* tablet change at 640px */
@media screen and (min-width: 40rem) {
  .lt-header,
  .mode-wrapper,
  .search-container,
  .user-info-container {
    max-width: 35.8125rem;
  }

  .user-profile,
  .user-bio,
  .user-stats,
  .user-links {
    margin-inline: 2.5rem;
  }

  .search::placeholder {
    font-size: 1.125rem;
  }

  h2 {
    font-size: 1.625rem;
  }

  .user-stats {
    font-size: 0.8125rem;
  }

  .stats-container {
    align-items: flex-start;
    margin-right: 3rem;
  }

  .stats-container > p {
    margin: 0;
  }

  .number {
    font-size: 1.375rem;
  }

  .user-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    font-size: 0.9375rem;
  }

  .location {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .website {
    grid-column: 1 / 2;
    grid-row: 2 / -1;
  }

  .twitter {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
  }

  .org {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
  }
}

/* desktop change at 960px */
@media screen and (min-width: 60rem) {
  .lt-header,
  .mode-wrapper,
  .search-container,
  .user-info-container {
    max-width: 45.625rem;
  }

  .user-profile,
  .user-bio,
  .user-stats,
  .user-links {
    margin-left: 12rem;
  }

  .user-profile {
    position: relative;
  }

  .user-avatar {
    position: absolute;
    left: -33%;
    margin: 0;
  }

  .user-profile-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .user-name {
    grid-column: 1 / -1;
    grid-row: 1/ 2;
  }

  .user-handle {
    grid-column: 1 /2;
  }

  .user-join {
    grid-column: 2 / -1;
    grid-row: 1/ 2;
    margin-left: 4.5rem;
  }
}
